/* - Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu)
- Weights: 400, 500, 700  */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  /* .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  } */
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}
.one-div {
  height: 200px;
  width: 200px;
  background-image: radial-gradient(
    circle,
    black 25%,
    rgb(69, 11, 11) 45%,
    red 46%,
    black,
    red
  );
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 50%;
}

.one-div::before {
  content: "";
  height: 60px;
  width: 420px;
  bottom: -20px;
  left: -100px;
  position: absolute;
  z-index: -10;
  transition: all 1s linear;
  transform-origin: 50% 0%;
  isolation: isolate;
  background-image: linear-gradient(
    180deg,
    rgb(255, 179, 0) 20%,
    rgb(244, 205, 205),
    rgb(255, 179, 0) 30%,
    rgb(5, 56, 99) 90%
  );
  border-radius: 30px 30px 70% 70%;
}

.one-div::after {
  content: "";
  position: absolute;
  height: 280px;
  width: 30px;
  border-radius: 50%;
  top: -30px;
  left: 85px;
  background-image: linear-gradient(
    0deg,
    rgb(255, 179, 0),
    #777 25px,
    #eee,
    #777 calc(100% - 25px),
    rgb(255, 179, 0)
  );
  animation: propeller 1.5s infinite linear;
  z-index: 1;
}

.one-div:hover::after {
  animation: propeller 0.35s infinite linear;
}

.one-div:hover::before {
  /* animation: propeller 1.5s infinite linear; */
  transform: rotate(20deg);
  left: -110px;
}

@keyframes propeller {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes rev-propeller {
  to {
    transform: rotateZ(-360deg);
  }
}
